{% extends 'core/base.html' %}

{% load static %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% static 'core/img/about.jpg' %}{% endblock %}

{% block headers %}
    <h1>Acerca de</h1>
    <span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<div class="row">  
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/io.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Diego Benitez</h2>   
        <p>Nacido 14 de mayo de 1989, oriundo de Avellaneda</p>
    </div>
</div>
{% endblock %}