{% extends 'core/base.html' %}

{% load static %}

{% block title %}Contacto{% endblock %}

{% block background %}{% static 'core/img/conta.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Podes comunicarte a travez de los siguientes medios</span>
{% endblock %}

{% block content %}
<div class="row">  
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Comunicate con migo a travez de mis redes. </p>
        <br>
        <p class="fa fa-phone"><b> Teléfono:</b> +54 11 6366 0588</p>
        <br>
        <p class="fa fa-envelope"><b> Email:</b> diegodamibenitez@gmail.com</p>
         <br>  
        <p class="fa fa-dollar"><b> Honorarios:</b> Precio a convenir.</p>
    </div>
</div>
{% endblock %}